@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
 body{
    background: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}
    #gradeContainer{
        background: linear-gradient(-225deg, #ff057c 0%, #8d0b93 50%, #321575 100%);
        box-shadow: 0px 10px 10px 0px #000;
        width: 50%;
        height: 420px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        margin-left: 300px;
    }

    @media only screen and (max-width: 768px){
        #gradeContainer{
            margin-left: 70px;
            width: 70%;
        }
    }
    
    h1{
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        margin-top: 30px;
    }
    @media only screen and (max-width: 768px){
        h1{
           font-size: 25px;
        }
    }

 .Mar{
    margin-top: 30px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
 }

input{
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
    outline: none;
    border: 0; 
    margin-left: 200px;
    margin-top: 30px;   
}

@media only screen and (max-width: 768px){
    input{
        margin-left: 50px;
        width: 200px;
        font-size: 15px;
    }
}

button{
        width: 300px;
        margin-top: 30px;
        padding: 10px;
        background-color: #00d2d3;
        color: #000;
        border: 0;
        outline: none;
        font-size: 18px;
        font-weight:bold;
        border-radius: 30px;
        cursor: pointer;
        margin-left: 200px;
}

@media only screen and (max-width: 768px){
    button{
        margin-left: 50px;
        width: 200px;
        font-size: 15px;
    }
}

#showGrade{
background-color: #fff;
width: 300px;
padding:20px;
font-weight: bold;
font-size: 20px;
border-radius: 30px;
margin-left: 200px;
margin-top: 30px;
text-align: center;
}

@media only screen and (max-width: 768px){
    #showGrade{
        margin-left: 50px;
        width: 200px;
    }
}